@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: "";
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .switch {
    --button-width: 2.5em;
    --button-height: 1.5em;
    --toggle-diameter: 1em;
    --button-toggle-offset: calc(
      (var(--button-height) - var(--toggle-diameter)) / 2
    );
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
  }

  .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
  }

  .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0
      calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
  }

  .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
  }

  .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(
      calc(
        var(--button-width) - var(--toggle-diameter) -
          var(--button-toggle-offset)
      )
    );
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
      calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  }

  .switch input[type="checkbox"] {
    display: none;
  }

  .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
  }

  .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(
      calc(
        var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
      )
    );
  }

  .main__section__height {
    height: calc(100vh - 57px);
  }

  .small_device_main_height {
    height: calc(100vh - 122px);
  }

  .profile__modal {
    @apply absolute right-0 -bottom-64 w-52 bg-light-2 dark:bg-dark-2 flex flex-col justify-center gap-4 px-3 py-6 rounded-[5px] text-dark-1 dark:text-light-1 bg-opacity-60 dark:bg-opacity-60 backdrop-blur-[8px] dark:backdrop-blur-[8px] border border-light-2 dark:border-dark-2 border-opacity-50 shadow-lg shadow-light-2 dark:shadow-dark-2;
  }

  .profile__modal::before {
    @apply content-[''] w-0 h-0 absolute -top-[25px] right-4 border-l-[25px] border-l-transparent border-t-0 border-t-transparent border-r-0 border-b-[25px] border-b-light-2 dark:border-b-dark-2 backdrop-blur-[5px] border-opacity-70;
  }
}
