@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: "";
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .main__section__height {
    height: calc(100vh - 57px);
  }

  .small_device_main_height {
    height: calc(100vh - 122px);
  }

  .profile__modal {
    @apply absolute right-0 -bottom-52 w-52 bg-light-2 dark:bg-dark-2 flex flex-col justify-center gap-4 px-3 py-6 rounded-[5px] text-dark-1 dark:text-light-1 bg-opacity-50 dark:bg-opacity-50 backdrop-blur-[5px] dark:backdrop-blur-[5px] border border-light-2 dark:border-dark-2 border-opacity-50 shadow-lg shadow-light-2 dark:shadow-dark-2;
  }

  .profile__modal::before {
    @apply content-[''] w-0 h-0 absolute -top-[25px] right-4 border-l-[25px] border-l-transparent border-t-0 border-t-transparent border-r-0 border-b-[25px] border-b-light-2 dark:border-b-dark-2 backdrop-blur-[5px] border-opacity-70;
  }
}
